<?xml version="1.0" ?>
<launch>
  <arg name="rviz" default="true"/>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="enable_pointcloud" value="true"/>
    <arg name="align_depth" value="true"/>
    <!--
    <arg name="depth_width" value="1280"/>
    <arg name="depth_height" value="720"/>
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
    <arg name="depth_fps" value="30"/>
    <arg name="color_fps" value="30"/-->
    <!--arg name="clip_distance" value="0.32"/-->
    <!--arg name="enable_sync" value="true"/-->
    <arg name="publish_tf" value="true"/>
    <arg name="enable_infra1" value="true"/>
    <arg name="enable_infra2" value="true"/>
    <arg name="json_file_path" value="${find platonics_vision}/config/settings_high_density.json"/>
  </include>
  <rosparam command="load" file="$(find platonics_vision)/config/camera_config.yaml" />

  <node pkg="platonics_vision" type="static_camera_tf_publisher" name="camera_tf_publisher" output="screen"/>

  <node pkg="platonics_vision" type="depth_filtering" name="depth_filtering" output="screen"/>
  <group if="$(arg rviz)">
    <node name="rviz_camera" pkg="rviz" type="rviz" args="-d $(find platonics_vision)/config/camera.rviz" required="true" output="screen"/>
  </group>
</launch>

